/* general */
* {
  box-sizing: border-box;
  margin: 0px;
  border: 0px;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
}

h2 {
  font-size: 30px;
}

p {
  font-size: 18px;
}

a {
  text-decoration: none;
}

.container {
  width: 80%;
  margin: auto;
}

.clearfix {
  content: '';
  display: table;
  clear: both;
}

.left-col {
  float: left;
}

.right-col {
  float: right;
}

/* header */
.header {
  height: 400px;
  background-image: url(../img/oldman.png);
  background-position: 108% 100%;
  background-repeat: no-repeat;
  background-size: 700px;
  background-color: rgb(6, 44, 78);
}

.nav-bar {
  padding: 20px 0 0 0;
}

.nav-bar > ul {
  padding-left: 0;
  list-style-type: none;
}

.nav-bar > ul > li {
  display: inline-block;
  padding: 0 10px;
  line-height: 50px;
}

.nav-bar > ul > li > a {
  vertical-align: middle;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  font-size: 12px;
}

.left-col > li:first-child {
  height: 50px;
  margin-right: 50px;
}

/* .left-col > li > a:hover {
  color: rgb(242, 144, 33);
} */

/* .right-col > li > a:first-child:hover {
color: rgb(242, 144, 33);
} */

.login > a {
  padding: 5px 20px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 5px;
}

.plan-button {
  padding: 5px 10px;
  border-radius: 5px;
  text-transform: uppercase;
  background-color: rgb(106, 178, 35);
  color: rgb(255, 255, 255);
}

.title-jumbotron > .plan-button {
  display: inline-block;
  margin: 20px 0;
  padding: 20px 20px;
  font-size: 16px;
}

.jumbotron {
  height: 325px;
  position: relative;
}

.title-jumbotron {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 50%;
  color: rgb(255, 255, 255);
  font-size: 22px;
}

/* main */
.catchphrase {
  position: relative;
  height: 150px;
  background-color: rgb(198, 198, 198);
  text-align: center;
}

.catchphrase > .container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
}

.catchphrase > .container > h2 {
  margin: 0 0 15px 0;
}

.features > .container > div {
  width: calc(100% / 3);
}

/* footer */
/* empty */
