/* general */
* {
  box-sizing: border-box;
  margin: 0px;
  border: 0px;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
}

.container {
  width: 80%;
  margin: auto;
}

/* header */
.header {
  height: 400px;
  background-image: url(../img/oldman.png);
  background-position: 108% 100%;
  background-repeat: no-repeat;
  background-size: 700px;
  background-color: rgb(6, 44, 78);
}

/* main */
/* empty */

/* footer */
/* empty */
